.btn-container{
    width: 400px;
    background-color: yellow;
}
.btn-group{
    display: flex;
}

.btn{
    width: 100px;
    height: 40px;
    border: none;
    transition: .5s;
}
.btn-jackson{
    background-color: black;
    color:white
}

.btn-long{
    width: 300px;
    background-color: orange;
}

.btn:hover{
    background-color:#646262 ;
}
